---
---

{
  process.env.NODE_ENV === "development" && (
    <div class="invisible">
      <span class="block sm:hidden"></span>
      <span class="hidden sm:block md:hidden"></span>
      <span class="hidden md:block lg:hidden"></span>
      <span class="hidden lg:block xl:hidden"></span>
      <span class="hidden xl:block 2xl:hidden"></span>
      <span class="hidden 2xl:block"></span>
    </div>
  )
}
