---
---

{
  process.env.NODE_ENV === "development" && (
    <div class="invisible">
      <span class="block sm:hidden" />
      <span class="hidden sm:block md:hidden" />
      <span class="hidden md:block lg:hidden" />
      <span class="hidden lg:block xl:hidden" />
      <span class="hidden xl:block 2xl:hidden" />
      <span class="hidden 2xl:block" />
    </div>
  )
}
